body {
  margin: 0;
}

:root {
  --yellow: rgb(250, 191, 0);
  --black: rgb(38, 38, 38);
  --gray: rgb(166, 166, 166)
}

* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', '微软雅黑';
  font-weight: bold;
}

#app {
  width: 100vw;
  height: 100vh
}

table {
  color: rgb(38, 38, 38);
}


/* icons */
@font-face {
  font-family: 'material-design-icons';
  src: url('https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/fonts/materialdesignicons-webfont.woff2');
}

.mdi {
  font-family: 'material-design-icons';
}

.mdi-calendar-clock::before {
  content: '\F00F0';
}